In [88]:
# ANANYA PERURU BATCH 1 ananya9peruru@gmail.com
import pandas as pd
a=pd.read_csv("data.csv")
a

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10861,21,tt0060371,0.080598,0,0,The Endless Summer,Michael Hynson|Robert August|Lord 'Tally Ho' B...,NaN,Bruce Brown,NaN,...,"The Endless Summer, by Bruce Brown, is one of ...",95,Documentary,Bruce Brown Films,6/15/66,11,7.4,1966,0.000000e+00,0.000000e+00
10862,20379,tt0060472,0.065543,0,0,Grand Prix,James Garner|Eva Marie Saint|Yves Montand|Tosh...,NaN,John Frankenheimer,Cinerama sweeps YOU into a drama of speed and ...,...,Grand Prix driver Pete Aron is fired by his te...,176,Action|Adventure|Drama,Cherokee Productions|Joel Productions|Douglas ...,12/21/66,20,5.7,1966,0.000000e+00,0.000000e+00
10863,39768,tt0060161,0.065141,0,0,Beregis Avtomobilya,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,NaN,Eldar Ryazanov,NaN,...,An insurance agent who moonlights as a carthie...,94,Mystery|Comedy,Mosfilm,1/1/66,11,6.5,1966,0.000000e+00,0.000000e+00
10864,21449,tt0061177,0.064317,0,0,"What's Up, Tiger Lily?",Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,NaN,Woody Allen,WOODY ALLEN STRIKES BACK!,...,"In comic Woody Allen's film debut, he took the...",80,Action|Comedy,Benedict Pictures Corp.,11/2/66,22,5.4,1966,0.000000e+00,0.000000e+00
10865,22293,tt0060666,0.035919,19000,0,Manos: The Hands of Fate,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,NaN,Harold P. Warren,It's Shocking! It's Beyond Your Imagination!,...,A family gets lost on the road and stumbles up...,74,Horror,Norm-Iris,11/15/66,15,1.5,1966,1.276423e+05,0.000000e+00

In [89]:
a.dropna()
a

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10861,21,tt0060371,0.080598,0,0,The Endless Summer,Michael Hynson|Robert August|Lord 'Tally Ho' B...,NaN,Bruce Brown,NaN,...,"The Endless Summer, by Bruce Brown, is one of ...",95,Documentary,Bruce Brown Films,6/15/66,11,7.4,1966,0.000000e+00,0.000000e+00
10862,20379,tt0060472,0.065543,0,0,Grand Prix,James Garner|Eva Marie Saint|Yves Montand|Tosh...,NaN,John Frankenheimer,Cinerama sweeps YOU into a drama of speed and ...,...,Grand Prix driver Pete Aron is fired by his te...,176,Action|Adventure|Drama,Cherokee Productions|Joel Productions|Douglas ...,12/21/66,20,5.7,1966,0.000000e+00,0.000000e+00
10863,39768,tt0060161,0.065141,0,0,Beregis Avtomobilya,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,NaN,Eldar Ryazanov,NaN,...,An insurance agent who moonlights as a carthie...,94,Mystery|Comedy,Mosfilm,1/1/66,11,6.5,1966,0.000000e+00,0.000000e+00
10864,21449,tt0061177,0.064317,0,0,"What's Up, Tiger Lily?",Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,NaN,Woody Allen,WOODY ALLEN STRIKES BACK!,...,"In comic Woody Allen's film debut, he took the...",80,Action|Comedy,Benedict Pictures Corp.,11/2/66,22,5.4,1966,0.000000e+00,0.000000e+00
10865,22293,tt0060666,0.035919,19000,0,Manos: The Hands of Fate,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,NaN,Harold P. Warren,It's Shocking! It's Beyond Your Imagination!,...,A family gets lost on the road and stumbles up...,74,Horror,Norm-Iris,11/15/66,15,1.5,1966,1.276423e+05,0.000000e+00

In [90]:
a.describe()

,id,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,budget_adj,revenue_adj
count,10866.000000,10866.000000,1.086600e+04,1.086600e+04,10866.000000,10866.000000,10866.000000,10866.000000,1.086600e+04,1.086600e+04
mean,66064.177434,0.646441,1.462570e+07,3.982332e+07,102.070863,217.389748,5.974922,2001.322658,1.755104e+07,5.136436e+07
std,92130.136561,1.000185,3.091321e+07,1.170035e+08,31.381405,575.619058,0.935142,12.812941,3.430616e+07,1.446325e+08
min,5.000000,0.000065,0.000000e+00,0.000000e+00,0.000000,10.000000,1.500000,1960.000000,0.000000e+00,0.000000e+00
25%,10596.250000,0.207583,0.000000e+00,0.000000e+00,90.000000,17.000000,5.400000,1995.000000,0.000000e+00,0.000000e+00
50%,20669.000000,0.383856,0.000000e+00,0.000000e+00,99.000000,38.000000,6.000000,2006.000000,0.000000e+00,0.000000e+00
75%,75610.000000,0.713817,1.500000e+07,2.400000e+07,111.000000,145.750000,6.600000,2011.000000,2.085325e+07,3.369710e+07
max,417859.000000,32.985763,4.250000e+08,2.781506e+09,900.000000,9767.000000,9.200000,2015.000000,4.250000e+08,2.827124e+09

In [91]:
a.columns

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview',
       'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj'],
      dtype='object')

In [97]:
a=a[["budget","original_title","keywords","cast","revenue","runtime","release_year","production_companies"]]

In [93]:
a=a[a["budget"]!=0]

In [94]:
a=a[a["revenue"]!=0]

In [95]:
a.shape

(3855, 9)

In [27]:
a

,budget,original_title,keywords,cast,revenue,runtime,release_year,production_companies
0,150000000,Jurassic World,monster|dna|tyrannosaurus rex|velociraptor|island,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,1513528810,124,2015,Universal Studios|Amblin Entertainment|Legenda...
1,150000000,Mad Max: Fury Road,future|chase|post-apocalyptic|dystopia|australia,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,378436354,120,2015,Village Roadshow Pictures|Kennedy Miller Produ...
2,110000000,Insurgent,based on novel|revolution|dystopia|sequel|dyst...,Shailene Woodley|Theo James|Kate Winslet|Ansel...,295238201,119,2015,Summit Entertainment|Mandeville Films|Red Wago...
3,200000000,Star Wars: The Force Awakens,android|spaceship|jedi|space opera|3d,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,2068178225,136,2015,Lucasfilm|Truenorth Productions|Bad Robot
4,190000000,Furious 7,car race|speed|revenge|suspense|car,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,1506249360,137,2015,Universal Pictures|Original Film|Media Rights ...
...,...,...,...,...,...,...,...,...
10595,7000000,Live and Let Die,london|new york|bomb|england|spy,Roger Moore|Yaphet Kotto|Jane Seymour|Clifton ...,161777836,121,1973,Eon Productions|Metro-Goldwyn-Mayer (MGM)
10689,11000000,Thunderball,paris|florida|fighter pilot|sanatorium|secret ...,Sean Connery|Claudine Auger|Adolfo Celi|Lucian...,141195658,130,1965,Eon Productions|Metro-Goldwyn-Mayer (MGM)
10724,7000000,On Her Majesty's Secret Service,london|suicide|england|switzerland|secret iden...,George Lazenby|Diana Rigg|Telly Savalas|Gabrie...,81974493,142,1969,Eon Productions|Metro-Goldwyn-Mayer (MGM)|Danjaq
10759,300000,Halloween,female nudity|nudity|mask|babysitter|halloween,Donald Pleasence|Jamie Lee Curtis|P.J. Soles|N...,70000000,91,1978,Compass International Pictures|Falcon Internat...
10760,2700000,Animal House,female nudity|sex|nudity|collage|fraternity,John Belushi|Tim Matheson|John Vernon|Verna Bl...,141000000,109,1978,Universal Pictures|Oregon Film Factory|Stage I...

In [96]:
budget=a.sort_values(["budget"])
budget

,budget,original_title,keywords,cast,revenue,runtime,release_year,production_companies,genres
3581,1,"Love, Wedding, Marriage",wedding vows|marriage|love,Mandy Moore|Kellan Lutz|Jessica Szohr|Autumn F...,1378,90,2011,120dB Films|Scion Films|Voodoo Production Serv...,Comedy|Romance
2618,1,Lost & Found,restaurant|neighbor|dog|ring,David Spade|Sophie Marceau|Ever Carradine|Step...,100,95,1999,Alcon Entertainment|Dinamo Entertainment,Comedy|Romance
8944,2,Death Wish 2,rape|detective|drug traffic|vigilante|revenge,Charles Bronson|Jill Ireland|Vincent Gardenia|...,16,88,1982,Cannon Films,Action|Crime|Thriller
10050,3,Tales from the Darkside: The Movie,anthology|based on tv series|darkside|antholog...,Rae Dawn Chong|Christian Slater|Deborah Harry|...,16,93,1990,Paramount Pictures|Laurel Productions|Darkside...,Fantasy|Horror|Comedy
2398,3,Boy,new zealand|maori|farm|goat|duringcreditsstinger,James Rolleston|Craig Hall|Taika Waititi|Te Ah...,43,87,2010,New Zealand Film Commission|Unison Films|Whenu...,Drama|Comedy
...,...,...,...,...,...,...,...,...,...
6570,270000000,Superman Returns,saving the world|dc comics|invulnerability|seq...,Brandon Routh|Kevin Spacey|Kate Bosworth|James...,391081192,154,2006,DC Comics|Legendary Pictures|Warner Bros.|Bad ...,Adventure|Fantasy|Action|Science Fiction
14,280000000,Avengers: Age of Ultron,marvel comic|comic|sequel|superhero|vision,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,1405035767,141,2015,Marvel Studios|Prime Focus|Revolution Sun Studios,Action|Adventure|Science Fiction
7387,300000000,Pirates of the Caribbean: At World's End,ocean|drug abuse|exotic island|east india trad...,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,961000000,169,2007,Walt Disney Pictures|Jerry Bruckheimer Films|S...,Adventure|Fantasy|Action
3375,380000000,Pirates of the Caribbean: On Stranger Tides,sea|captain|mutiny|sword|prime minister,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,1021683000,136,2011,Walt Disney Pictures|Jerry Bruckheimer Films|M...,Adventure|Action|Fantasy
2244,425000000,The Warrior's Way,assassin|small town|revenge|deception|super speed,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,11087569,100,2010,Boram Entertainment Inc.,Adventure|Fantasy|Action|Western|Thriller

In [38]:
third = a.sort_values(['budget'])
third_lowest=third.iloc[2]['original_title']
thi = a.sort_values(['budget'])
third_highest=thi.iloc[-3]['original_title']
third_lowest, third_highest

('The Hunt for Red October', "Pirates of the Caribbean: At World's End")

In [109]:
movies=a[a['release_year'].isin([2000, 2001, 2002, 2003, 2004, 2005])]
words=0
for i in range(movies.shape[0]):
    words_l = movies['original_title'].values[i].split(' ')
    words = words + len(words_l)
    
avg_words = words/movies.shape[0]
avg_words

2.69171974522293

In [55]:
revenue=a[["revenue"]]
revenue=revenue.sort_values(["revenue"])
revenue

         revenue
2398          43
7506          46
1733         134
3968         193
9992         200
...          ...
0     1513528810
4361  1519557910
5231  1845034188
3     2068178225
1386  2781505847

[1287 rows x 1 columns]

In [53]:

highest_revenue=revenue.head(1)
lowest_revenue=revenue.tail(1)
highest_revenue,lowest_revenue

(      revenue
 2398       43,
          revenue
 1386  2781505847)

In [116]:
r = a[a['release_year'] == 2006]
total_runtime = 0
for i in range(r.shape[0]):
    total_runtime += int(a['runtime'].values[i])
    
final_ans = total_runtime/r.shape[0]
final_ans

111.60355029585799

In [64]:
production=a[["production_companies","revenue","budget"]]
production

,production_companies,revenue,budget
0,Universal Studios|Amblin Entertainment|Legenda...,1513528810,150000000
1,Village Roadshow Pictures|Kennedy Miller Produ...,378436354,150000000
2,Summit Entertainment|Mandeville Films|Red Wago...,295238201,110000000
3,Lucasfilm|Truenorth Productions|Bad Robot,2068178225,200000000
4,Universal Pictures|Original Film|Media Rights ...,1506249360,190000000
...,...,...,...
10595,Eon Productions|Metro-Goldwyn-Mayer (MGM),161777836,7000000
10689,Eon Productions|Metro-Goldwyn-Mayer (MGM),141195658,11000000
10724,Eon Productions|Metro-Goldwyn-Mayer (MGM)|Danjaq,81974493,7000000
10759,Compass International Pictures|Falcon Internat...,70000000,300000
10760,Universal Pictures|Oregon Film Factory|Stage I...,141000000,2700000

In [65]:
production=production.sort_values(["revenue","budget"])
production

                                   production_companies     revenue     budget
2398  New Zealand Film Commission|Unison Films|Whenu...          43          3
7506  Sidney Kimmel Entertainment|Parabolic Pictures...          46    9000000
1733                         Sahara One Motion Pictures         134         75
3968  Paramount Pictures|Mace Neufeld Productions|MF...         193         68
9992  Paramount Pictures|Nina Saxon Film Design|Mace...         200         30
...                                                 ...         ...        ...
0     Universal Studios|Amblin Entertainment|Legenda...  1513528810  150000000
4361                                     Marvel Studios  1519557910  220000000
5231  Paramount Pictures|Twentieth Century Fox Film ...  1845034188  200000000
3             Lucasfilm|Truenorth Productions|Bad Robot  2068178225  200000000
1386  Ingenious Film Partners|Twentieth Century Fox ...  2781505847  237000000

[1287 rows x 3 columns]

In [78]:
production["worst_revenue"]=production["revenue"]-production["budget"]
b=production[["worst_revenue","production_companies"]]
b=b.sort_values(["worst_revenue"])
b

      worst_revenue                               production_companies
2244     -413912431                           Boram Entertainment Inc.
5508     -165710090  Walt Disney Pictures|Jerry Bruckheimer Films|I...
3484     -111007242                      Walt Disney Animation Studios
6590      -84540684            Aardman Animations|DreamWorks Animation
6309      -74010360  Epsilon Motion Pictures|Franchise Pictures|Bal...
...             ...                                                ...
4        1316249360  Universal Pictures|Original Film|Media Rights ...
0        1363528810  Universal Studios|Amblin Entertainment|Legenda...
5231     1645034188  Paramount Pictures|Twentieth Century Fox Film ...
3        1868178225          Lucasfilm|Truenorth Productions|Bad Robot
1386     2544505847  Ingenious Film Partners|Twentieth Century Fox ...

[1287 rows x 2 columns]

In [83]:
worst_revenue_companies=b.head(3)
worst_revenue_companies

      worst_revenue                               production_companies
2244     -413912431                           Boram Entertainment Inc.
5508     -165710090  Walt Disney Pictures|Jerry Bruckheimer Films|I...
3484     -111007242                      Walt Disney Animation Studios